
@{
    ViewBag.Title = "DetailsDoctor";
}
@using _16PRACTICA_MVC_NET_FRAMEWORK_HOSPITAL_DOCTOR.Models
<h2>DetailsDoctor</h2>

<table class="table table-bordered">



        <tr>
            <td>APELLIDOS</td>
            <td class="btn-primary">@Model.APELLIDO</td>   
        </tr>




</table>
@Html.ActionLink("Volver atras", "Index", "Hospital")

