
@{
    ViewBag.Title = "ResultadoInicio";
    ViewBag.D = "Fecha ahora  "  + DateTime.Now;
}

<h2>ResultadoInicio</h2>

<h4>@ViewBag.Nombre</h4>
<h4>@ViewBag.Apellido</h4>
<h4>@ViewBag.Edad</h4>
<h4>@ViewBag.D</h4>