@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>








<div class="row">
    <div class="col-md-4">1</div>
    <div class="col-md-4">
        <p class="text-center"><img src="~/Images/CarnetMadridista.bmp" alt="CarnetMadridista" class="" /></p>
        


        <p class="bg-info text-center">
            <img src="~/Images/flag-spanish.gif" alt="Alternate Text" />
            @Html.ActionLink("español", "Contact", "Home", new { lang = "es" }, null)

            <img src="~/Images/flag-english.gif" alt="Alternate Text" />
            @Html.ActionLink("inglés", "Contact", "Home", new { lang = "en-US" }, null)

            <img src="~/Images/CircleGermanyFlag.png" alt="Alternate Text" height="24" width="14" />
            @Html.ActionLink("Germany", "Contact", "Home", new { lang = "de" }, null)

        </p>
    </div>
    <div class="col-md-4">3</div>
</div>
