
@{
    ViewBag.Title = "Vista1";
}
@model List<String>

<h2>Probando un DataList dinámico</h2>

<form>
    <fieldset>
        <legend>Probando los datalist</legend>
        <label>
            Busca en la agenda:
            <input type="text" name="agenda" list="agenda" />
            <datalist id="agenda">
                @foreach (var item in Model)
                {
                    <option value="@item"></option>
                }
            </datalist>
        </label>
    </fieldset>
</form>
