<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_05LINQ_TO_SQL_DEPT_EMP_PRACTICA_02.Properties.Settings.HospitalConnectionString"
            connectionString="Data Source=.;Initial Catalog=Hospital;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>