
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@*<script src='@Url.Content("~/Scripts/jquery-3.4.1.min.js")' type="text/javascript"></script>*@

<h3>Le sugerimos lo siguiente:</h3>
<ol class="round">
    <li class="one">
        <h5>Vista parcial de Personas</h5>
        <button type="button" id="btnpersonas">Vista de personas</button>
        <div id="detallepersonas"></div>
    </li>

    <li class="two">
        <h5>Vista parcial de Lenguajes</h5>
        <button type="button" id="btnlenguajes">Vista de lenguajes</button>
        <div id="detallelenguajes" style="display:none"></div>
    </li>
</ol>


<script src='@Url.Content("~/Scripts/JavaScript.js")' type="text/javascript"></script>

<script>
    //$(document).ready(function () {
    //    $("#btnpersonas").click(function () {
    //        $("#detallepersonas").load("/Detalles/RecuperarPersonas");
    //    });
    //    $("#btnlenguajes").click(function () {
    //        $("#detallelenguajes").load("/Detalles/RecuperarLenguajes");
    //    });
    //});


    //document.addEventListener("DOMContentLoaded", function () {
    //    var btnpersonas = document.querySelector("#btnpersonas");
    //    var detallepersonas = document.querySelector("#detallepersonas");
    //    var btnlenguajes = document.querySelector("#btnlenguajes");
    //    var detallelenguajes = document.querySelector("#detallelenguajes");

    //    btnpersonas.addEventListener("click", function () {
    //        var xhttp = new XMLHttpRequest();
    //        xhttp.onreadystatechange = function () {
    //            if (this.readyState == 4 && this.status == 200) {
    //                detallepersonas.innerHTML = this.responseText;
    //            }
    //        };
    //        xhttp.open("GET", "/Detalles/RecuperarPersonas", true);
    //        xhttp.send();
    //    });

    //    btnlenguajes.addEventListener("click", function () {
    //        var xhttp = new XMLHttpRequest();
    //        xhttp.onreadystatechange = function () {
    //            if (this.readyState == 4 && this.status == 200) {
    //                detallelenguajes.innerHTML = this.responseText;
    //            }
    //        };
    //        xhttp.open("GET", "/Detalles/RecuperarLenguajes", true);
    //        xhttp.send();
    //    });
    //});


    //////refresca como harias con .TOGGLE DE JQUERY

    //document.addEventListener("DOMContentLoaded", function () {
    //    var btnpersonas = document.querySelector("#btnpersonas");
    //    var detallepersonas = document.querySelector("#detallepersonas");
    //    var btnlenguajes = document.querySelector("#btnlenguajes");
    //    var detallelenguajes = document.querySelector("#detallelenguajes");

    //    // Guardar el valor original de detallepersonas y detallelenguajes
    //    var detallepersonasOriginal = detallepersonas.innerHTML;
    //    var detallelenguajesOriginal = detallelenguajes.innerHTML;

    //    btnpersonas.addEventListener("click", function () {
    //        if (detallepersonas.innerHTML === detallepersonasOriginal) {
    //            var xhttp = new XMLHttpRequest();
    //            xhttp.onreadystatechange = function () {
    //                if (this.readyState == 4 && this.status == 200) {
    //                    detallepersonas.innerHTML = this.responseText;
    //                }
    //            };
    //            xhttp.open("GET", "/Detalles/RecuperarPersonas", true);
    //            xhttp.send();
    //        } else {
    //            // Restablecer al valor original
    //            detallepersonas.innerHTML = detallepersonasOriginal;
    //        }
    //    });

    //    btnlenguajes.addEventListener("click", function () {
    //        if (detallelenguajes.innerHTML === detallelenguajesOriginal) {
    //            var xhttp = new XMLHttpRequest();
    //            xhttp.onreadystatechange = function () {
    //                if (this.readyState == 4 && this.status == 200) {
    //                    detallelenguajes.innerHTML = this.responseText;
    //                }
    //            };
    //            xhttp.open("GET", "/Detalles/RecuperarLenguajes", true);
    //            xhttp.send();
    //        } else {
    //            // Restablecer al valor original
    //            detallelenguajes.innerHTML = detallelenguajesOriginal;
    //        }
    //    });
    //});



    /////END


    //CON JAQUERY - OCULTAR BOTONES USANDO .TOGGLE
    //$(document).ready(function () {
    //    var detallepersonas = $("#detallepersonas");
    //    var detallelenguajes = $("#detallelenguajes");

    //    $("#btnpersonas").click(function () {
    //        detallepersonas.load("/Detalles/RecuperarPersonas");
    //        detallepersonas.slideToggle();
    //    });

    //    $("#btnlenguajes").click(function () {
    //        detallelenguajes.load("/Detalles/RecuperarLenguajes");
    //        detallelenguajes.slideToggle();
    //    });
    //});



</script>